body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

#game-controls {
    margin-bottom: 10px;
    text-align: center;
}

button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background: #007BFF;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}

button:disabled {
    background: #ccc;
    cursor: not-allowed;
}

button:hover:enabled {
    background: #0056b3;
}

/* General body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #EEEEEE;
    margin: 0;
    padding: 0;
    color: #4C1F7A;
}

/* Header */
header {
    background-color: #4C1F7A;
    color: white;
    text-align: center;
    padding: 20px;
}

/* Article section */
#articles {
    margin: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#articles h2 {
    color: #FF8000;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

ul li a {
    text-decoration: none;
    color: #219B9D;
    font-size: 18px;
    transition: color 0.3s ease;
}

ul li a:hover {
    color: #FF8000;
}

/* Game section */
#game {
    margin: 20px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#game-controls {
    margin: 20px 0;
    text-align: center;
}

#startButton {
    background-color: #FF8000;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#startButton:hover {
    background-color: #219B9D;
}

/* Footer */
/* Pie de página inicial */
footer {
    background-color: #4C1F7A;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease;
    z-index: 10; /* Asegúrate de que el pie de página esté sobre el contenido */
}

/* Pie de página minimizado cuando se hace scroll */
footer.minimized {
    padding: 10px;
    font-size: 12px;
}

footer a {
    color: #FF8000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Cuando el pie de página debe permanecer oculto en los artículos */
article footer {
    display: none;
}
